{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png",
        ".js"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "/_app",
          "README.md",
          "README.html",
          "_app",
          ".gitignore"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/tolstikov.mastervision.su/destination",
      "timeout": 10000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1576329509903.4392,
          "date": "2020-02-08T05:46:03.688Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1581137900238.7021,
          "ctimeMs": 1581137900239.703,
          "date": "2020-02-08T05:46:03.989Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1581155524637.8962,
          "ctimeMs": 1581155524637.8962,
          "date": "2020-02-08T09:54:27.703Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1581156221850.6243,
          "ctimeMs": 1581156221850.6243,
          "date": "2020-02-08T10:04:08.961Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1581149555425.4092,
          "ctimeMs": 1581149555429.413,
          "date": "2020-02-08T08:13:30.064Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1581153500851.1482,
          "ctimeMs": 1581153500851.1482,
          "date": "2020-02-08T09:54:30.552Z"
        },
        {
          "file": "img/certs/cert-1.min.png",
          "mtimeMs": 1572964007973.245,
          "ctimeMs": 1572964007973.245,
          "date": "2020-02-08T06:34:25.800Z"
        },
        {
          "file": "img/certs/cert-1.png",
          "mtimeMs": 1581143307946.8955,
          "ctimeMs": 1581143307979.918,
          "date": "2020-02-08T06:34:26.330Z"
        },
        {
          "file": "img/certs/cert-2.min.png",
          "mtimeMs": 1581143313002.8926,
          "ctimeMs": 1581143313036.9155,
          "date": "2020-02-08T06:34:26.726Z"
        },
        {
          "file": "img/certs/cert-2.png",
          "mtimeMs": 1581143327741.5874,
          "ctimeMs": 1581143327742.5874,
          "date": "2020-02-08T06:34:27.213Z"
        },
        {
          "file": "img/certs/cert-3.min.png",
          "mtimeMs": 1581143332612.6113,
          "ctimeMs": 1581143332613.6123,
          "date": "2020-02-08T06:34:27.593Z"
        },
        {
          "file": "img/certs/cert-3.png",
          "mtimeMs": 1581143340145.0642,
          "ctimeMs": 1581143340147.0652,
          "date": "2020-02-08T06:34:28.077Z"
        },
        {
          "file": "img/certs/cert-4.min.png",
          "mtimeMs": 1581143345044.2842,
          "ctimeMs": 1581143345046.2854,
          "date": "2020-02-08T06:34:28.454Z"
        },
        {
          "file": "img/certs/cert-4.png",
          "mtimeMs": 1581143352685.8838,
          "ctimeMs": 1581143352687.8833,
          "date": "2020-02-08T06:34:28.955Z"
        },
        {
          "file": "fonts/OpenSansBold.eot",
          "mtimeMs": 1572430538000,
          "ctimeMs": 1572448590025.644,
          "date": "2020-02-08T08:13:22.650Z"
        },
        {
          "file": "fonts/OpenSansBold.svg",
          "mtimeMs": 1572504483590,
          "ctimeMs": 1572504483591.1843,
          "date": "2020-02-08T08:13:23.426Z"
        },
        {
          "file": "fonts/OpenSansBold.ttf",
          "mtimeMs": 1572504489311.0002,
          "ctimeMs": 1572504489310.561,
          "date": "2020-02-08T08:13:23.880Z"
        },
        {
          "file": "fonts/OpenSansBold.woff",
          "mtimeMs": 1572504493596,
          "ctimeMs": 1572504493595.5295,
          "date": "2020-02-08T08:13:24.349Z"
        },
        {
          "file": "fonts/OpenSansBold.woff2",
          "mtimeMs": 1572430538000,
          "ctimeMs": 1572448590038.6545,
          "date": "2020-02-08T08:13:24.767Z"
        },
        {
          "file": "fonts/RussoOne.eot",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772552.5771,
          "date": "2020-02-08T08:13:25.260Z"
        },
        {
          "file": "fonts/RussoOne.svg",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772527.5603,
          "date": "2020-02-08T08:13:25.792Z"
        },
        {
          "file": "fonts/RussoOne.ttf",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772514.5527,
          "date": "2020-02-08T08:13:26.284Z"
        },
        {
          "file": "fonts/RussoOne.woff",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772542.5703,
          "date": "2020-02-08T08:13:26.726Z"
        },
        {
          "file": "fonts/RussoOne.woff2",
          "mtimeMs": 1567562714000,
          "ctimeMs": 1567580772561.583,
          "date": "2020-02-08T08:13:27.104Z"
        },
        {
          "file": "fonts/georgia.eot",
          "mtimeMs": 1565572696000,
          "ctimeMs": 1565590742328.5205,
          "date": "2020-02-08T08:13:27.660Z"
        },
        {
          "file": "fonts/georgia.svg",
          "mtimeMs": 1565572696000,
          "ctimeMs": 1565590742224.343,
          "date": "2020-02-08T08:13:28.346Z"
        },
        {
          "file": "fonts/georgia.ttf",
          "mtimeMs": 1565572696000,
          "ctimeMs": 1565590742208.334,
          "date": "2020-02-08T08:13:28.816Z"
        },
        {
          "file": "fonts/georgia.woff",
          "mtimeMs": 1565572696000,
          "ctimeMs": 1565590742246.36,
          "date": "2020-02-08T08:13:29.277Z"
        },
        {
          "file": "fonts/georgia.woff2",
          "mtimeMs": 1565572698000,
          "ctimeMs": 1565590742356.5388,
          "date": "2020-02-08T08:13:29.694Z"
        },
        {
          "file": "img/backs/main-bg.jpg",
          "mtimeMs": 1581147999430.9558,
          "ctimeMs": 1581147999433.9585,
          "date": "2020-02-08T08:13:30.616Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1581149575774.751,
          "ctimeMs": 1581149575774.751,
          "date": "2020-02-08T08:13:30.965Z"
        },
        {
          "file": "img/icons/phone.png",
          "mtimeMs": 1581149581124.75,
          "ctimeMs": 1581149581127.7522,
          "date": "2020-02-08T08:13:31.311Z"
        },
        {
          "file": "img/icons/skype.png",
          "mtimeMs": 1581149585849.0044,
          "ctimeMs": 1581149585850.0054,
          "date": "2020-02-08T08:13:31.695Z"
        },
        {
          "file": "img/images/lets-img-1.jpg",
          "mtimeMs": 1581149519175.8623,
          "ctimeMs": 1581149519175.8623,
          "date": "2020-02-08T08:13:32.101Z"
        },
        {
          "file": "img/images/lets-img-2.jpg",
          "mtimeMs": 1581149523297.6057,
          "ctimeMs": 1581149523297.6057,
          "date": "2020-02-08T08:13:32.509Z"
        },
        {
          "file": "img/images/lets-img-3.jpg",
          "mtimeMs": 1581149526674.4023,
          "ctimeMs": 1581149526674.4023,
          "date": "2020-02-08T08:13:32.891Z"
        },
        {
          "file": "img/images/lets-img-4.jpg",
          "mtimeMs": 1581149529780.458,
          "ctimeMs": 1581149529780.458,
          "date": "2020-02-08T08:13:33.271Z"
        },
        {
          "file": "img/images/lets-img-5.jpg",
          "mtimeMs": 1581149532892.6875,
          "ctimeMs": 1581149532892.6875,
          "date": "2020-02-08T08:13:33.701Z"
        },
        {
          "file": "img/images/lets-img-6.jpg",
          "mtimeMs": 1581149535804.8274,
          "ctimeMs": 1581149535804.8274,
          "date": "2020-02-08T08:13:34.085Z"
        },
        {
          "file": "img/images/lets-img-7.jpg",
          "mtimeMs": 1581149539448.378,
          "ctimeMs": 1581149539448.378,
          "date": "2020-02-08T08:13:34.502Z"
        },
        {
          "file": "img/images/lets-img-8.jpg",
          "mtimeMs": 1581149542693.4631,
          "ctimeMs": 1581149542693.4631,
          "date": "2020-02-08T08:13:34.887Z"
        },
        {
          "file": "img/backs/plan-img-1.jpg",
          "mtimeMs": 1581151223815.5493,
          "ctimeMs": 1581151223815.5493,
          "date": "2020-02-08T08:40:35.094Z"
        },
        {
          "file": "img/backs/plan-img-2.jpg",
          "mtimeMs": 1581155621737.9717,
          "ctimeMs": 1581155621737.9717,
          "date": "2020-02-08T09:54:28.670Z"
        },
        {
          "file": "img/backs/prices-bg.jpg",
          "mtimeMs": 1581155633904.2834,
          "ctimeMs": 1581155633904.2834,
          "date": "2020-02-08T09:54:29.236Z"
        },
        {
          "file": "img/icons/soc-buttons.jpg",
          "mtimeMs": 1581155647632.4885,
          "ctimeMs": 1581155647632.4885,
          "date": "2020-02-08T09:54:29.641Z"
        },
        {
          "file": "img/images/victor.png",
          "mtimeMs": 1581155660487.9402,
          "ctimeMs": 1581155660488.9417,
          "date": "2020-02-08T09:54:30.066Z"
        },
        {
          "file": "img/icons/zoom.png",
          "mtimeMs": 1581156244115.3643,
          "ctimeMs": 1581156244116.3643,
          "date": "2020-02-08T10:04:09.300Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead",
          "last 100 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": false,
        "sourceMap": false,
        "linenos": true
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\scripts.min.js"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "favicon.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1703,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 819798,
          "optimized": true
        }
      },
      {
        "file": "img/backs/plan-img-1.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 195211,
          "optimized": true
        }
      },
      {
        "file": "img/backs/plan-img-2.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 484044
        }
      },
      {
        "file": "img/backs/prices-bg.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 600599,
          "optimized": true
        }
      },
      {
        "file": "img/certs/cert-1.min.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 52692
        }
      },
      {
        "file": "img/certs/cert-1.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 725455,
          "optimized": true
        }
      },
      {
        "file": "img/certs/cert-2.min.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 22592,
          "optimized": true
        }
      },
      {
        "file": "img/certs/cert-2.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 704012,
          "optimized": true
        }
      },
      {
        "file": "img/certs/cert-3.min.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 27958,
          "optimized": true
        }
      },
      {
        "file": "img/certs/cert-3.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 762142,
          "optimized": true
        }
      },
      {
        "file": "img/certs/cert-4.min.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 23919,
          "optimized": true
        }
      },
      {
        "file": "img/certs/cert-4.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 772001,
          "optimized": true
        }
      },
      {
        "file": "img/icons/envelope.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 855,
          "optimized": true
        }
      },
      {
        "file": "img/icons/phone.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1040,
          "optimized": true
        }
      },
      {
        "file": "img/icons/skype.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1171,
          "optimized": true
        }
      },
      {
        "file": "img/icons/soc-buttons.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 12779,
          "optimized": true
        }
      },
      {
        "file": "img/icons/zoom.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 1052,
          "optimized": true
        }
      },
      {
        "file": "img/images/lets-img-1.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 19757
        }
      },
      {
        "file": "img/images/lets-img-2.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 17681
        }
      },
      {
        "file": "img/images/lets-img-3.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 17266
        }
      },
      {
        "file": "img/images/lets-img-4.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 10425
        }
      },
      {
        "file": "img/images/lets-img-5.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "optimized": true,
          "originalSize": 26430
        }
      },
      {
        "file": "img/images/lets-img-6.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 22237
        }
      },
      {
        "file": "img/images/lets-img-7.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "optimized": true,
          "originalSize": 17618
        }
      },
      {
        "file": "img/images/lets-img-8.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "optimized": true,
          "originalSize": 22801
        }
      },
      {
        "file": "img/images/victor.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 88818,
          "optimized": true
        }
      },
      {
        "file": "img/logo.png",
        "config": {
          "tasks": {
            "png": {
              "options": {
                "quality": 89
              }
            }
          },
          "optimized": true,
          "preserveOriginal": false,
          "originalSize": 19224
        }
      }
    ]
  }
}
