.pre
.main-title small
.lets-item-text
.plan-item-title
.packet-head-title small
.cost
.prepayment-text
.author-title
.record-title
footer h5
	font-weight: bold
.general-title
.button
.main-title
.main-subtitle
.main-info span
.packet-head-title
.cost span
.prepayment-title
.timer-title
.certs-title
	font-weight: 900
.plan-item-sublist
	li:before
		font-weight: normal
.main-container
	width 55%
.for-item
	height 200px