#lets
	padding 50px 0 0
.lets-item
	width 100%
	max-width 263px
	margin 0 auto 30px
	background-repeat no-repeat
	background-position: top center
	background-size: auto 200px
	padding 220px 20px 20px
	text-align: center
	display: table
	overflow hidden
	border-radius: 5px
	box-shadow: 0 0 12px 3px rgba(#667b8b,.35)
	transition: all .5s ease
	&:hover
		box-shadow: 0 0 12px 3px rgba(#f0651b,.35)
	&-1
		background-image url(../img/images/lets-img-1.jpg)
	&-2
		background-image url(../img/images/lets-img-2.jpg)
	&-3
		background-image url(../img/images/lets-img-3.jpg)
	&-4
		background-image url(../img/images/lets-img-4.jpg)
	&-5
		background-image url(../img/images/lets-img-5.jpg)
	&-6
		background-image url(../img/images/lets-img-6.jpg)
	&-7
		background-image url(../img/images/lets-img-7.jpg)
	&-8
		background-image url(../img/images/lets-img-8.jpg)
		margin-bottom: 50px
	&-text
		font-family: OSB
		display: table-cell
		vertical-align: middle
		height 98px