#prices
	padding 50px 0
	text-align: center
	background-color: #BEC5B5
	background-image url(../img/backs/prices-bg.jpg)
	background-repeat no-repeat
	background-position: center
	background-size: cover
.packet
	padding 20px 20px 30px
	border-radius: 5px
	box-shadow: 0 0 12px 3px rgba(#F0651B,.35)
	overflow hidden
	background-color: rgba(#fff,.86)
	width 100%
	max-width 350px
	margin 0 auto 25px
	// border: 2px solid rgba(#F0651B,.86)
	&-head
		padding 0 0 20px
		&-title
			font-size: 24px
			color #F0651B
			font-family: RO
			text-transform: uppercase
			small
				text-transform: none
				display block
				font-size: 16px
				font-family: OSB
	&-body
		padding 20px 0
		border-top: 1px solid rgba(#F0651B,.3)
		border-bottom: 1px solid rgba(#F0651B,.3)
		min-height 218px
	&-list
		text-align: left
		margin-left: 20px
		li
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
	&-footer
		padding 20px 0 0
.cost
	font-size: 22px
	font-family: OSB
	margin-bottom: 10px
	span
		display: block
		font-family: RO
		font-size: 36px
		text-transform: uppercase
	&-full
		span
			text-decoration: line-through
	&-sale
		color red
	&-today
		color green
		margin-bottom: 20px
.prepayment-title
	color red
	font-size: 40px
	text-transform: uppercase
	font-family: RO
.prepayment-text
	font-size: 20px
	color #000
	margin 10px 0 20px
	font-family: OSB
.timer-title
	margin-top: 50px
	color red
	font-size: 36px
	text-transform: uppercase
	font-family: RO
.flip-clock-wrapper
	width: 100%
	max-width 460px
	margin-top: 30px
.flip-clock-divider .flip-clock-label
	color #fff
.flip-clock-dot
	background-color: #fff
.flip-clock-wrapper ul li a div div.inn
	color: #000
	background-color: #fff
	text-shadow: 2px 2px 2px rgba(#022a37,.6);