#for
	padding 50px 0
.for-item
	width 100%
	max-width 350px
	margin 0 auto 30px
	box-shadow: 0 0 7px 3px rgba(#667b8b,.35)
	background-color #fff
	border-radius: 5px
	display: table
	padding 30px 20px
	&-text
		text-align: center
		line-height: 1.5
		display: table-cell
		vertical-align: middle
.button-for
	margin-top: 20px