#records
	padding 50px 0
.record-title
	text-align: center
	margin-bottom: 20px
	font-family: OSB
	font-size: 20px
.video-wrapper-rec
	max-width 560px
	box-shadow: 0 0 12px 3px rgba(#667b8b,.35)
.record-text
	max-width 560px
	margin 10px auto 0
	a
		text-align: center
		display: block
		color #EDC361
		font-family: OSB
		&:focus
			color #EDC361
		&:hover
			color #EDC361
			text-decoration: underline
.records-text
	font-size: 22px
	text-align: center
	margin-top: 40px
.button-records-sale
	margin-top:  40px