mixin let(cl,p)
	.col-md-3.col-sm-6
		lets-item(class=cl)
			p.lets-item-text=p

section#lets
	.container
		+gt('','Курс позволит Вам:')
		.row
			+let('lets-item-1','Почувствовать прилив бодрости и энергии')
			+let('lets-item-2','Сменить метания и размышления на чёткую жизненную стратегию')
			+let('lets-item-3','Обрести определённость своего места в мире')
			+let('lets-item-4','Научиться правильно расставлять приоритеты')
		.row
			+let('lets-item-5','Найти Ваше высшее предназначение')
			+let('lets-item-6','Определить свои жизненные цели')
			+let('lets-item-7','Выбрать наиболее подходящую для Вас деятельность')
			+let('lets-item-8','Составить план действий на ближайшие 3-5 лет')
		+b('button-lets','#prices','МНЕ ЭТО НЕОБХОДИМО')