section#plan
	.container
		+gt('','План курса:')
		.plan-item.plan-item-1
			h4.plan-item-title Пакет БАЗОВЫЙ 
				small - 8 видео-уроков
			ul.plan-item-list
				li Живое зеркало;
				li 3 жизни;
				li Предназначение рода;
				li Идеальный день мечты;
				li Встреча с Высшим «Я»;
				li Образ моей души;
				li Второй шанс;
				li Связь с идеальным «Я»;
				li Проверка истинности пути
		.plan-item.plan-item-2
			h4.plan-item-title Пакет МАСТЕР-ГРУППА 
				small - 16 видео-уроков
			ul.plan-item-list
				li Живое зеркало;
				li 3 жизни;
				li Предназначение рода;
				li Идеальный день мечты;
				ul.plan-item-sublist
					li Встреча с Высшим «Я»;
					li Образ моей души;
					li Второй шанс;
					li Связь с идеальным «Я»;
					li Проверка истинности пути
				li Связь с "Идеальным Я";
				li Прошлые воплощения;
				li Задачами моей души;
				li Связь с "Идеальным Я";
				li Что уже есть в тебе;
				li Ответ на вопрос через сон;
				li Секреты Мотивации;
				li Четкий план действий;
		+b('','#prices','ИДУ НА КУРС')