mixin for(cl,p)
	.for-item(class=cl)
		p.for-item-text=p

section#for
	.container
		+gt('','Этот курс для Вас, если Вы:')
		.row
			.col-md-4.col-sm-4
				+for('for-item-1','Перестали чувствовать радость и полноту жизни, но есть желание разобраться в себе и начать радоваться жизни')
			.col-md-4.col-sm-4
				+for('for-item-2','Впадаете в уныние от скучной повседневной рутины, а хотели бы заниматься любимым делом и получать от этого удовольствие')
			.col-md-4.col-sm-4
				+for('for-item-3','Застряли на перепутье и не видите никаких перспектив, мечетесь в поисках своего высшего предназначения')
		.row
			.col-md-4.col-sm-4.col-md-offset-2.col-sm-offset-2
				+for('for-item-4','Не знаете, чем заниматься и как себя с пользой реализовать, а мечтаете зарабатывать на том, что Вам, действительно, нравиться')
			.col-md-4.col-sm-4
				+for('for-item-5','Неудовлетворены нынешним образом жизни и хотите, наконец-то, "обрести себя" и жить полной жизнью')
		+b('button-for','#prices','ОБРЕСТИ СЕБЯ')